<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>results</title>
        <script>

        </script>
    </head>
    <body>
        <h1>Names</h1>
        ------- <br>
        <% for(var person in people){ %>
            First:  <strong><%= people[person].fname %>  </strong>
            Last:  <strong> <%= people[person].lname %>  </strong>
            <a href="/<%= people[person]._id %>/delete/">Delete</a> | <a href="/<%= people[person]._id %>/edit/">Edit</a>
            <br>
            -------
            <br>
        <% } %>

    </body>
</html>
